<div class="stakes-address-container">
    <span id="address_<%= @index %>" class="stakes-address js-validator-info-modal"><%= @address %></span>
    <%= render BlockScoutWeb.CommonComponentsView, "_check_tooltip.html", text: @tooltip %>
</div>