<div class="stakes-address-container">
    <span id="address_<%= @index %>" class="stakes-address js-validator-info-modal"><%= @address %></span>
    <%= if @tooltip do %>
        <%= render BlockScoutWeb.CommonComponentsView, "_check_tooltip.html", text: @tooltip %>
    <% end %>
</div>